<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Update Player</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/lists" class="btn btn-secondary btn-sm">Back To Players List</a>
    </div>
  </div>
  <br />
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>shirtNo</mat-label>
      <input matInput placeholder="" value="" id="shirtNo" formControlName="shirtNo">

    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="" value="" id="Name" formControlName="name">

    </mat-form-field>

    <br />
    <mat-form-field appearance="fill">
      <mat-label>-Select Position-</mat-label>
      <select matNativeControl [(ngModel)]="selectedCar" name="positionId" formControlName="positionId" id="positionId">
        <option value="" selected></option>
        <option *ngFor="let position of positions" [value]="position.id">
          {{position.name}}
        </option>
      </select>
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>appearances</mat-label>
      <input matInput placeholder="" value="" id="appearances" formControlName="appearances">

    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>goal</mat-label>
      <input matInput placeholder="" value="" formControlName="goal" id="goal">

    </mat-form-field>
    <!--
   <input formControlName="id"
          id="id"
          type="hidden" />

   <div class="form-group">
     <label for="shirtNo">Shirt No:</label>
     <input formControlName="shirtNo"
            id="shirtNo"
            type="text"
            class="form-control" />
   </div>

   <div class="form-group">
     <label for="name">Name:</label>
     <input formControlName="name"
            id="name"
            type="text"
            class="form-control" />
   </div>

   <div class="form-group">
     <label for="name">Position:</label>
     <select formControlName="positionId"
             id="positionId"
             class="form-control">
       <option value="">- Select -</option>
       <option *ngFor="let position of positions" [ngValue]="position.id">
         {{position.name}}
       </option>
     </select>
   </div>

   <div class="form-group">
     <label for="appearances">Appearances:</label>
     <input formControlName="appearances"
            id="appearances"
            type="text"
            class="form-control" />
   </div>

   <div class="form-group">
     <label for="goals">Goals:</label>
     <input formControlName="goal"
            id="goal"
            type="text"
            class="form-control" />
   </div>

  <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Update</button>-->
    <br />
    <button mat-raised-button color="primary" [disabled]="!editForm.valid" type="submit">Update </button>
  </form>
  
</div>
